In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
df = pd.read_csv("canada_per_capita_income.csv")
df.head()

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [2]:
X=df['year']
y=df['per capita income (US$)']
X=X.values.reshape(-1,1)
y=y.values.reshape(-1,1)

In [3]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(42, 1)
(5, 1)
(42, 1)
(5, 1)

In [4]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1)
model = LinearRegression()
a=model.fit(X_train,y_train)
predicted=model.predict(X_test)
score=model.score(X_test,y_test)
print(score)

0.8753270829405407

In [5]:
m=model.coef_

In [6]:
c=model.intercept_

In [7]:
print(m*2020+c)
model.predict([[2020]])

[[40379.65648435]]

array([[40379.65648435]])

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from word2number import w2n
df = pd.read_csv("hiring.csv")
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [9]:
df.experience=df.experience.fillna("zero")

In [10]:
def convert_to_int(word):
    try:
        num = w2n.word_to_num(word)
        return str(num)
    except ValueError:
        return word

df['experience'] = df['experience'].apply(lambda x: ' '.join([convert_to_int(word) for word in x.split()]))
df.experience

0     0
1     0
2     5
3     2
4     7
5     3
6    10
7    11
Name: experience, dtype: object

In [11]:
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna("0")